$bor: 1px solid red;
$darkOlive: #a7a38f;
$lightOlive: #e8e6db;
$beige: #f9f7f2;

@font-face {
    font-family: avenir;
    src: url(../font/avenir.woff2);
}

@font-face {
    font-family: butler;
    src: url(../font/butler.woff2);
}

@font-face {
    font-family: avenirBold;
    src: url(../font/avenir_ff/AvenirLTStd-Book.otf);
}

@keyframes load {
    0% {
        top: -100%;
        visibility: visible;
    }

    20% {
        top: 0;
        visibility: visible;
    }

    80% {
        top: 0;
        visibility: visible;
    }

    100% {
        top: -100%;
        visibility: hidden;
    }
}


body {
    position: relative;
    overflow-x: hidden;
    background-color: rgb(249, 247, 242);

    >div {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 10000;
        background-color: white;
        top: -100%;
        left: 0;
        visibility: hidden;
        animation: 2s linear forwards;
        animation-name: load;

        >div {
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 10001;
            background-color: $lightOlive;
            top: -100%;
            left: 0;
            visibility: hidden;
            animation: 4s linear forwards;
            animation-name: load;

            >figure {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                >img {
                    width: 15%;
                    // border: $bor;
                    display: flex;
                    z-index: 100000;
                }
            }
        }
    }

    >header {
        // border: $bor;
        width: 100%;
        // height: 102vh;
        justify-content: center;
        position: relative;
        padding-top: 24px;
        padding: 26px;

        >nav {
            // border: $bor;
            width: 100%;
            justify-content: center;

            >figure {
                // border: $bor;
                width: 100%;
                margin: 0 auto;
                justify-content: center;
                z-index: 10;

                >a {
                    display: flex;
                    // border: $bor;
                    justify-content: center;
                    align-items: start;

                    >img {
                        // border: $bor;
                        width: 86.5%;
                    }
                }
            }

            >label {
                position: fixed;
                width: 30px;
                height: 30px;
                // border: $bor;
                top: 44px;
                right: 40px;
                cursor: pointer;
                z-index: 100;
                background-color: transparent;

                &:hover~div.btn>span {
                    &:nth-of-type(2) {
                        transition: cubic-bezier(0, 1, 1, .75) 0.2s;
                        transform: translateY(5px);
                    }

                }

            }

            >input {
                position: relative;
                z-index: 100;
                opacity: 0;

                &:checked~div.menu {
                    // right: 0;
                    transition: 0.4s ease;
                    opacity: 1;

                }

                &:checked~div.nav {
                    right: 0;
                    transition: .4s ease;
                }

                &:checked~div.btn>span {
                    top: 12px;
                    transition: 0.4s ease-out;

                    &:nth-of-type(1) {
                        transform: rotateZ(45deg);
                    }

                    &:nth-of-type(2) {
                        transform: rotateZ(-45deg);
                    }
                }

            }

            >div.menu {
                display: flex;
                // border: $bor;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 10;
                background-color: #ffffffbb;
                transition: 0.4s ease;
                opacity: 0;
                z-index: 5;

            }

            >div.nav {
                // border: $bor;
                display: flex;
                flex-direction: column;
                width: 33%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: -100%;
                background-color: $lightOlive;
                transition: 0.4s ease;
                z-index: 10;
                padding-left: 4%;
                padding-top: 4.5%;

                >ul {
                    // border: $bor;
                    width: 100%;

                    &:hover a {
                        color: #a7a38f80;
                        transition: .4s ease;
                    }

                    >li {
                        margin: 20px;
                        // border: $bor;
                        transition: .4s ease;

                        &:hover>a {
                            color: $darkOlive;
                            transition: .4s ease;
                        }

                        &:hover {
                            transition: .4s ease;
                            transform: translateX(50px);
                        }

                        >a {
                            // border: $bor;
                            font-size: 60px;
                            font-family: butler;
                            text-transform: capitalize;
                            color: $darkOlive;
                            // transition: .4s ease;

                        }
                    }
                }

                >p {
                    padding-left: 5%;
                    padding-top: 10px;
                    color: $darkOlive;
                    font-family: avenir;

                    >a {
                        color: $darkOlive;
                    }
                }

                >div {
                    width: 100%;
                    // border: $bor;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-top: 60px;

                    >span {
                        margin: 0 20px;

                        >a {
                            >i {
                                font-size: 32px;
                                color: $darkOlive;
                            }
                        }
                    }
                }

            }

            >div.btn {
                position: fixed;
                // border: $bor;
                padding-top: 48px;
                display: flex;
                width: 30px;
                height: 30px;
                top: 44px;
                right: 40px;
                z-index: 10;

                >span {
                    position: absolute;
                    display: flex;
                    // border: $bor;
                    width: 30px;
                    height: 2px;
                    background-color: black;
                    // right: 40px;
                    justify-content: end;
                    cursor: pointer;

                    &:nth-of-type(1) {
                        top: 6px;
                        transition: 0.4s ease-out;

                    }

                    &:nth-of-type(2) {
                        top: 18px;
                        transition: 0.4s ease-out;
                    }
                }
            }
        }
    }

    >main {
        width: 100%;
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 96px;

        >div.head {
            >p {
                width: 100%;
                font-family: avenir;
                text-transform: uppercase;
                color: $darkOlive;
            }

            >h1 {
                width: 100%;
                font-family: butler;
                font-size: 96px;
                font-weight: 400;
                color: $darkOlive;
            }
        }

        >p {
            column-count: 2;
            color: $darkOlive;
            font-family: avenir;
            padding: 96px 17.25%;
            line-height: 28.8px;
            column-gap: 48px;
        }

        >figure {
            width: 100%;
            transform: translateY(48px);
            margin-top: -48px;

            >img {
                width: 100%;
            }
        }
    }

    >article {
        width: 100%;
        padding: 0 48px;
        background-color: $lightOlive;
        padding-top: 144px;

        >div {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            align-items: start;

            >div {
                padding-right: 24px;
                width: 50%;

                >figure {
                    width: 100%;

                    >img {
                        width: 100%;
                    }
                }

                >h3 {
                    font-size: 60px;
                    font-family: butler;
                    font-weight: 400;
                    color: $darkOlive;
                    margin-left: 12px;
                    margin-right: 24px;
                    margin-bottom: 24px;
                }

                >h6{
                    font-weight: bolder;
                    margin-left: 12px;
                    margin-bottom: 24px;
                    font-family: avenir;
                    color: $darkOlive;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                }
                >p {
                    margin-left: 12px;
                    margin-bottom: 24px;
                    font-family: avenir;
                    color: $darkOlive;
                    font-weight: 700;
                    margin-bottom: 24px;
                    font-size: 14px;
                    line-height: 24px;
                    
                }

            }
        }
    }
    >.banner{
        width: 100%;
        height: 72vh;
        position: relative;
        margin: 0 auto;
        justify-content: center;
        padding-top: 180px;
        z-index: 10;
        >figure{
            position: absolute;
            top: 0;left: 0;
            width: 100%;
            height: 100%;
            z-index: -10 ;
            &::after{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;left: 0;
                content: '';
                background-color: rgba(0, 0, 0, 0.20);
            }
            
            >img{
                filter: blur(3px);
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }

        >h2,h4{
            // border: $bor;
            width: 100%;
            font-family: butler;
            color: white;
            font-weight: 300;
            display: flex;
            justify-content: center;
        }
        >h2{
            font-size: 124px;
            line-height: 124px;
        }
        >h4{
            font-size: 30px;
            // line-height: 30px;
        }
        >a{
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg1IiBoZWlnaHQ9Ijg5IiB2aWV3Qm94PSIwIDAgMjg1IDg5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik0xOTAuNDAyIDEuODgzODZDMTU4LjgxOSAwLjU1NzY5IDEzMS4wNzggMC4wMzI4MTIyIDEwMS4xMzcgNS40MzAwNkM2MC43NDY4IDEyLjcxMSAzMS45MDEgMjYuMzc4NyAxNS4xOTY0IDQzLjYxQzUuNzM2MDkgNTMuMzY4NiAtOC42NzIyOSA3MC42MzIyIDEwLjMwMSA4MC4xMDc0QzMyLjM5MzIgOTEuMTQwMSA3OC43ODE0IDg4LjA0NDMgMTA3LjI0MSA4NS45MDU2QzE0Ny4zMjEgODIuODkzNyAxODguMDEyIDc4LjIyNzYgMjI0LjkxMSA3MC43NjNDMjUwLjEzMSA2NS42NjEzIDI3OS40NjggNTcuODk3MyAyODMuNDE0IDQ0Ljg1MjVDMjg3LjcxMSAzMC42NDg5IDI2Ny45MTggMTYuOTY1NCAyMzkuMTE0IDEwLjM3NEMyMDQuMDc0IDIuMzU1NTggMTYyLjYxNiAyLjAyMjM2IDEyNC4wNDMgMS40MTc5MyIgc3Ryb2tlPSIjRjlGN0YyIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K);
            background-position: center;
            background-repeat: no-repeat;
            font-family: avenir;
            text-transform: uppercase;
            width: 360px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: $bor;
            height: 120px;
            color: $lightOlive;
            transition: .3s ease;
            &:hover{
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg1IiBoZWlnaHQ9Ijg5IiB2aWV3Qm94PSIwIDAgMjg1IDg5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik0xOTAuNDAyIDEuODgzODZDMTU4LjgxOSAwLjU1NzY5IDEzMS4wNzggMC4wMzI4MTIyIDEwMS4xMzcgNS40MzAwNkM2MC43NDY4IDEyLjcxMSAzMS45MDEgMjYuMzc4NyAxNS4xOTY0IDQzLjYxQzUuNzM2MDkgNTMuMzY4NiAtOC42NzIyOSA3MC42MzIyIDEwLjMwMSA4MC4xMDc0QzMyLjM5MzIgOTEuMTQwMSA3OC43ODE0IDg4LjA0NDMgMTA3LjI0MSA4NS45MDU2QzE0Ny4zMjEgODIuODkzNyAxODguMDEyIDc4LjIyNzYgMjI0LjkxMSA3MC43NjNDMjUwLjEzMSA2NS42NjEzIDI3OS40NjggNTcuODk3MyAyODMuNDE0IDQ0Ljg1MjVDMjg3LjcxMSAzMC42NDg5IDI2Ny45MTggMTYuOTY1NCAyMzkuMTE0IDEwLjM3NEMyMDQuMDc0IDIuMzU1NTggMTYyLjYxNiAyLjAyMjM2IDEyNC4wNDMgMS40MTc5MyIgc3Ryb2tlPSIjRjlGN0YyIiBmaWxsPSIjRjlGN0YyIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K);
                color: $darkOlive;
                transition: .3s ease;
            }

        }
    }
    >footer {
        width: 100%;
        background-color: rgb(249 247 242);
        padding: 120px 0;

        >h2 {
            // display: flex;
            // flex-wrap: wrap;
            width: 100%;
            margin: 0 auto;
            font-size: 60px;
            font-weight: 400;
            color: $darkOlive;
            font-family: butler;
            text-align: center;
        }

        >h4 {
            width: 100%;
            font-size: 30px;
            font-weight: 400;
            color: $darkOlive;
            text-align: center;
            font-family: butler;
        }

        >p {
            width: 100%;
            text-align: center;
            z-index: 10;
            margin-top: 48px;
            color: $darkOlive;
            font-family: avenir;
            font-size: 16px;
            font-weight: 300;

            >a {
                color: $darkOlive;
            }
        }
        >div{
            width: 100%;
            // border: $bor;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            >span{
                margin: 0 20px;
                >a{
                    >i{
                        font-size: 32px;
                        color: $darkOlive;
                    }
                }
            }
        }
    }
}
